# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
.ipynb_checkpoints/

# =========================
# Data
# =========================
data/external/kaggle/*
data/raw/*
data/interim/*
data/curated/*

# Keep directory structure
!data/.gitkeep
!data/external/.gitkeep
!data/external/kaggle/.gitkeep
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/curated/.gitkeep

# =========================
# Kaggle credentials
# =========================
kaggle.json

# =========================
# OS / IDE
# =========================
.DS_Store
.vscode/
.idea/